<!doctype html>

{% extends "base.html" %}

{% block content %}
<div class="content">
  <h1 class="title">Make buggy</h1>
  <form action="/new" method="post">
    <label for="qty_wheels">Number of wheels:</label>
    <input type="text" name="qty_wheels" value="{{ record['qty_wheels'] }}" placeholder="Enter an integer"/>
    <br>
  	<label for="flag_color">Colour of flag:</label>
  	<input type="text" name="flag_color" value="{{record['flag_color'] }}" placeholder="Enter a colour"/>
    <br>
    <input type="submit" class="button">
  </form>
  <p>
    <a href="/" class="button">Home</a>
  </p>
</div>
{% endblock %}