{% extends "base.html" %}

{% block content %}

  <h1 style="text-decoration: underline;">
    My buggy editor
  </h1>

  <div class="spacer">
    <a href="/new" class="button">Make buggy</a>
    <a href="/buggy" class="button">Show buggies</a>
  </div>

  <p>
    This editor is used to create, edit, delete and show buggies. Once created, JSON data will be able to be generated for the specified buggy. This data will be required
    when you log into the
    <strong><a href="{{ server_url }}">race server</a></strong> and enter your
    buggy into the next race.
  </p>

{% endblock %}
